<%- include('includes/head.ejs') %> 
<body>
    <%- include('includes/navbar.ejs') %> 
    <h1 class="page-title">Products</h1>
    <hr />

    <div class="product-control-buttons">
        <a href="/products/create" class="new-product-button">+ New</a>
    </div>
    <% if(products.length > 0) { %>
        <div>
            <ul class="product-list">
                <% products.forEach(product => { %>
                    <li>
                        <h2><%= product.name %></h2>
                        <p>Brand: <%= product.brand %></p>
                        <p>Price: <%= product.price %></p>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% } else { %>
        <h2 class="page-message">No products available</h2>
    <% } %>
</body>
</html>